<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="images/content/logo.svg" rel="shortcut icon">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Midone admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Login - Pernod Ricard</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="login">
<div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
        <!-- BEGIN: Login Info -->
        <div class="hidden xl:flex flex-col min-h-screen">
            <a href="#" class="-intro-x flex items-center pt-5">
            </a>
            <div class="my-auto">
                <img alt="Midone Tailwind HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="images/content/logo_white.svg">
            </div>
        </div>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
            <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                    Sign In
                </h2>
                <div class="login-failed intro-x mt-2 mb-2" style="display: none">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg></span>
                    <span>Login failed. Try again</span>
                </div>

                <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">A few more clicks to sign in to your account. Manage all your e-commerce accounts in one place</div>
                <div class="intro-x mt-8">
                    <input type="text" id="login_field" class="intro-x login__input input input--lg border border-gray-300 block" placeholder="Email">
                    <input type="password" id="password_field"  class="intro-x login__input input input--lg border border-gray-300 block mt-4" placeholder="Password">
                </div>
                <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                    <button id="loginBtn" class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3">Login</button>
                </div>
            </div>
        </div>
        <!-- END: Login Form -->
    </div>
</div>
<!-- BEGIN: JS Assets-->
<script src="javascript/jquery-3.2.1.min.js"></script>
<script src="javascript/main.js"></script>
<script src="javascript/script.js"></script>
<script>
    $("#password_field").keypress(function(event) {
        if (event.keyCode === 13) {
            $("#loginBtn").click();
        }
    });
    $('#loginBtn').click(function () {
        $(".login-failed").hide();
        let login = $('#login_field').val();
        let password = $('#password_field').val();
        requestPost('/login','login='+login+'&password='+password+'',function () {
            if(this.readyState == 4){

                var result = JSON.parse(this.responseText);
                if(result.error){
                    $(".login-failed").show();
                }else{
                    window.location.href = '/'
                }
            }
        })
    })
</script>
<!-- END: JS Assets-->
</body>
</html>