<!DOCTYPE html>
<html lang="en">
<!-- BEGIN: Head -->

<head>
    <meta charset="utf-8">
    <link href="/images/content/logo.svg" rel="shortcut icon">
    <script src="/javascript/jquery-3.2.1.min.js"></script>
    <link href="/javascript/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="/javascript/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/javascript/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <!--    <script src = "/javascript/jquery-ui.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--    <script src="/javascript/script.js"></script>-->
    <!--    <script src="/javascript/main.js"></script>-->

    <!-- CKEDITOR -->
<!--    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>-->
<!--    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>-->

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!-- END: CSS Assets-->

    <!-- CKEDITOR -->
    <link rel="stylesheet" href="/stylesheets/ckeditor.css"/>

</head>
<!-- END: Head -->
<body class="app">
<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="#" class="flex mr-auto">
            <!--            <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="dist/images/logo.svg">-->
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2"
                                                            class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">
        <li>
            <a href="index-2.html" class="menu <% if(pathName == 'menu--active'){ %><%= '' %><% } %>">
                <div class="menu__icon"><i data-feather="home"></i></div>
                <div class="menu__title"> Dashboard</div>
            </a>
        </li>
        <li class="menu__devider my-6"></li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"><i data-feather="box"></i></div>
                <div class="menu__title"> Menu Layout <i data-feather="chevron-down" class="menu__sub-icon"></i></div>
            </a>
            <ul class="">
                <li>
                    <a href="index-2.html" class="menu">
                        <div class="menu__icon"><i data-feather="activity"></i></div>
                        <div class="menu__title"> Side Menu</div>
                    </a>
                </li>
                <li>
                    <a href="simple-menu-dashboard.html" class="menu">
                        <div class="menu__icon"><i data-feather="activity"></i></div>
                        <div class="menu__title"> Simple Menu</div>
                    </a>
                </li>
                <li>
                    <a href="top-menu-dashboard.html" class="menu">
                        <div class="menu__icon"><i data-feather="activity"></i></div>
                        <div class="menu__title"> Top Menu</div>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>
<!-- END: Mobile Menu -->
<div class="flex">
    <!-- BEGIN: Side Menu -->
    <nav class="side-nav">
        <a href="/" class="intro-x flex items-center pl-5 pt-4">
            <span class="hidden xl:block text-white text-lg ml-3"> Pernod <span
                        class="font-medium">Ricard</span> </span>
        </a>
        <div class="side-nav__devider my-6"></div>
        <ul>
            <li>
                <a href="/orders?page=1" class="side-menu <% if(pathName == 'orders'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="tv"></i></div>
                    <div class="side-menu__title"> Orders</div>
                </a>
            </li>

            <li class="side-nav__devider my-6"></li>
            <li>
                <a href="/" class="side-menu <% if(pathName == ''){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="home"></i></div>
                    <div class="side-menu__title"> Dashboard</div>
                </a>
            </li>
            <!-- Shop -->
            <li>
                <a href="javascript:;"
                   class="side-menu <% if(pathName == 'categories' || pathName == 'brand' || pathName == 'product'){ %><%= 'side-menu--open side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="shopping-bag"></i></div>
                    <div class="side-menu__title"> Shop <i data-feather="chevron-down" class="side-menu__sub-icon"></i>
                    </div>
                </a>
                <ul class="<% if(pathName == 'categories' || pathName == 'brand' || pathName == 'product' || pathName == 'litrage'){ %><%= 'side-menu__sub-open' %><% } %>">
                    <li>
                        <a href="/product?page=1"
                           class="side-menu <% if(pathName == 'product'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="/categories"
                           class="side-menu <% if(pathName == 'categories'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="aperture"></i></div>
                            <div class="side-menu__title"> Categories</div>
                        </a>
                    </li>
                    <li>
                        <a href="/brand"
                           class="side-menu <% if(pathName == 'brand'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="award"></i></div>
                            <div class="side-menu__title"> Brand</div>
                        </a>
                    </li>
<!--                    <li>-->
<!--                        <a href="/litrage" class="side-menu <%if(pathName == 'litrage'){%><%='side-menu&#45;&#45;active'%><%}%>">-->
<!--                            <div class="side-menu__icon"> <i data-feather="award"></i> </div>-->
<!--                            <div class="side-menu__title"> Litrages </div>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li>
                        <a href="/filter" class="side-menu <% if(pathName == 'filter'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="filter"></i></div>
                            <div class="side-menu__title"> Filters</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Slider -->
            <li>
                <a href="javascript:;"
                   class="side-menu <% if(TpathName == 'slide' || TpathName == 'loginslider'){ %><%= 'side-menu--open side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="sliders"></i></div>
                    <div class="side-menu__title"> Sliders <i data-feather="chevron-down" class="side-menu__sub-icon"></i></div>
                </a>
                <ul class="<% if(pathName == 'slide'  || pathName == 'login-slider'){ %><%= 'side-menu__sub-open' %><% } %>">
                    <li>
                        <a href="/site-content/home/slide"
                           class="side-menu <% if(pathName == 'slide'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="image"></i></div>
                            <div class="side-menu__title"> Homepage slider</div>
                        </a>
                    </li>
                    <li>
                        <a href="/site-content/home/login-slider"
                           class="side-menu <% if(pathName == 'loginslider'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="image"></i></div>
                            <div class="side-menu__title"> Login page slider</div>
                        </a>
                    </li>

                </ul>
            </li>

            <!-- News -->
            <li>
                <a href="/blog" class="side-menu <% if(pathName == 'news'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="tv"></i></div>
                    <div class="side-menu__title"> News</div>
                </a>
            </li>

            <li class="side-nav__devider my-6"></li>

            <!-- Pages -->
            <li>
                <a href="javascript:;"
                   class="side-menu <% if(pathName == 'terms' || pathName == 'privacy' || pathName == 'cookie'){ %><%= 'side-menu--open side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="box"></i></div>
                    <div class="side-menu__title"> Pages <i data-feather="chevron-down" class="side-menu__sub-icon"></i>
                    </div>
                </a>
                <ul class="<% if(pathName == 'terms' || pathName == 'privacy' || pathName == 'cookie' || pathName == 'about' || pathName == 'delivery' || pathName == 'ref-policy' || pathName == 'history'){ %><%= 'side-menu__sub-open' %><% } %>">
                    <li>
                        <a href="/history"
                           class="side-menu <% if(pathName == 'history'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> History</div>
                        </a>
                    </li>
                    <li>
                        <a href="/terms"
                           class="side-menu <% if(pathName == 'terms'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> Terms</div>
                        </a>
                    </li>
                    <li>
                        <a href="/privacy"
                           class="side-menu <% if(pathName == 'privacy'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> Privacy</div>
                        </a>
                    </li>
                    <li>
                        <a href="/cookie"
                           class="side-menu <% if(pathName == 'cookie'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> Cookie</div>
                        </a>
                    </li>
                    <li>
                        <a href="/about"
                           class="side-menu <% if(pathName == 'about'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> About</div>
                        </a>
                    </li>
                    <li>
                        <a href="/delivery"
                           class="side-menu <% if(pathName == 'delivery'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> Delivery</div>
                        </a>
                    </li>
                    <li>
                        <a href="/ref-policy"
                           class="side-menu <% if(pathName == 'ref-policy'){ %><%= 'side-menu--active' %><% } %>">
                            <div class="side-menu__icon"><i data-feather="file-text"></i></div>
                            <div class="side-menu__title"> Return And Refund Policy</div>
                        </a>
                    </li>
                </ul>
            </li>


            <!-- FAQ -->
            <li>
                <a href="/faq" class="side-menu <% if(pathName == 'faq'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="help-circle"></i></div>
                    <div class="side-menu__title"> FAQ</div>
                </a>
            </li>

            <!-- Loyalty -->
            <li>
                <a href="/loyality"
                   class="side-menu <% if(pathName == 'loyality'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="bookmark"></i></div>
                    <div class="side-menu__title"> Loyalty</div>
                </a>
            </li>

            <!-- Translate -->
            <li>
                <a href="/translate"
                   class="side-menu <% if(pathName == 'translate'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="type"></i></div>
                    <div class="side-menu__title"> Translation</div>
                </a>
            </li>

            <!-- Settings -->
            <li>
                <a href="/settings"
                   class="side-menu <% if(pathName == 'settings'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="settings"></i></div>
                    <div class="side-menu__title"> Settings</div>
                </a>
            </li>

            <li class="side-nav__devider my-6"></li>
            
            <!-- Log out -->
            <li>
                <a href="/login/logout"
                   class="side-menu <% if(pathName == 'logout'){ %><%= 'side-menu--active' %><% } %>">
                    <div class="side-menu__icon"><i data-feather="log-out"></i></div>
                    <div class="side-menu__title"> Log out</div>
                </a>
            </li>

        </ul>
    </nav>
    <!-- END: Side Menu -->