<div class="intro-y col-span-12 lg:col-span-12">
    <div class="intro-y box margin-top-bottom-10">
        <%  language.forEach(function(langs){ %>
            <div class="intro-y box p-5 margin-top-bottom-10 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                <h2 class="text-lg font-medium truncate mr-5">
                    Seo Instruments
                </h2>
                <div class="mt-3">
                    <label>Seo Title</label>
                    <div class="relative mt-2">
                        <input
                                type="text"
                                class="__seo-title_<%=langs['id']%> input pr-12 w-full border col-span-4"
                                placeholder=""
                                value="<% if(typeof data !== "undefined"){  %><%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.seo_title%><%}})%><%}%>"
                        >
                    </div>
                </div>
                <div class="mt-3">
                    <label>Seo Description</label>
                    <div class="relative mt-2">
                        <input
                                type="text"
                                class="__seo-desc_<%=langs['id']%> input pr-12 w-full border col-span-4"
                                placeholder=""
                                value="<% if(typeof data !== "undefined"){  %><%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.seo_desc%><%}})%><%}%>"
                        >
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>