<%- include ../default/header.ejs %>
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="intro-y flex items-center h-10 p-5 mt-5">
            <h2 class="text-lg font-medium  mr-5">
                Home Slider
            </h2>
        </div>
    </div>
    <form class="grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form">
        <div class="intro-y col-span-12 lg:col-span-12">
            <div class="intro-y box p-5 margin-top-bottom-10 col-span-4 lg:col-span-4 ">
                <div class="mt-5">
                    <label>Website name</label>
                    <div class="relative mt-2">
                        <input type="text" name="site_name" class=" input pr-12 w-full border col-span-4" value="<%=data.site_name%>" />
                    </div>
                </div>
                <div class="mt-5">
                    <label>Admin email</label>
                    <div class="relative mt-2">
                        <input type="text" name="admin_email"  class=" input pr-12 w-full border col-span-4" value="<%=data.admin_email%>" />
                    </div>
                </div>
                <div class="mt-5">
                    <label>Public email</label>
                    <div class="relative mt-2">
                        <input type="text" name="public_email" class=" input pr-12 w-full border col-span-4" value="<%=data.public_email%>" />
                    </div>
                </div>
                <div class="mt-5">
                    <label>Public phone</label>
                    <div class="relative mt-2">
                        <input type="text" name="public_phone" class=" input pr-12 w-full border col-span-4" value="<%=data.public_phone%>" />
                    </div>
                </div>
                <div class="mt-5">
                    <label>Public fax</label>
                    <div class="relative mt-2">
                        <input type="text" name="public_fax" class=" input pr-12 w-full border col-span-4" value="<%=data.public_fax%>" />
                    </div>
                </div>
                <div class="mt-5">
                    <label>Facebook link</label>
                    <div class="relative mt-2">
                        <input type="text" name="fb_link" class=" input pr-12 w-full border col-span-4" value="<%=data.fb_link%>" />
                    </div>
                </div>
            </div>
            <div class="text-right mt-5 col-span-12 lg:col-span-12">
                <button type="submit" class="button w-24 bg-theme-1 text-white">Save</button>
            </div>
        </div>
    </form>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
