<%- include default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">

    <%- include default/topBar.ejs %>
    <div class="container">
        <!-- BEGIN: Error Page -->
        <div class="error-page flex flex-col lg:flex-row items-center justify-center h-screen text-center lg:text-left">
            <div class="-intro-x lg:mr-20">
                <img class="h-48 lg:h-auto" src="/images/content/error-illustration.svg">
            </div>
            <div class="mt-10 lg:mt-0">
                <div class="intro-x text-6xl font-medium">404</div>
                <div class="intro-x text-xl lg:text-3xl font-medium">Oops. This page has gone missing.</div>
                <div class="intro-x text-lg mt-3">You may have mistyped the address or the page may have moved.</div>
            </div>
        </div>
        <!-- END: Error Page -->
    </div>

</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<!-- END: JS Assets-->
</body>
</html>