<%- include ../../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-10 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Home Slider
                    </h2>
                </div>
            </div>
            <!-- END: General Report -->
            <%- include ../../default/lang.ejs %>
        </div>
    </div>
        <form class="grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form" enctype="multipart/form-data">

                <!-- BEGIN: Single File Upload -->
                <div class="intro-y box col-span-12 lg:col-span-12">

                    <div class="p-5" id="single-file-upload">
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Slide Image Uploads
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='<%=API_URL%>/images/home/slide/<%=data.slideImage%>' alt="no photo" />
                                    <input required style="display: none" type="file" name="image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%  language.forEach(function(langs){ %>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-4 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Title</label>
                        <div class="relative mt-2">
                            <input
                                    value="<%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.title%><%}})%>"
                                    type="text"
                                    class="__title_<%=langs['id']%>  input pr-12 w-full border col-span-4"
                            >
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                </div>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-4 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Button Text</label>
                        <div class="relative mt-2">
                            <input
                                    value="<%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.button_text%><%}})%>"
                                    type="text"
                                    class="__button_text_<%=langs['id']%> input pr-12 w-full border col-span-4"
                            >
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                </div>
                <% }) %>

                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-4">
                    <div class="mt-3">
                        <label>Link</label>
                        <div class="relative mt-2">
                            <input
                                    value="<%=data.url%>"
                                    type="text"
                                    class=" input pr-12 w-full border col-span-4"
                                    name="url"
                            >
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                </div>

                <div class="text-right mt-5 col-span-12 lg:col-span-12">
                    <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
                </div>
                <input type="hidden" value="" id="__res_data" name="res_data">

        </form>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    $(document).ready(function () {
        $('.__section_submit').click(function () {
            console.log('wqe')
            var resBody = [];
            var languages = JSON.parse('<%- JSON.stringify(language) %>')

            for (let i = 0; i < languages.length; i++) {
                var name = $('.__title_' + languages[i].id).val();
                var button_text = $('.__button_text_' + languages[i].id).val();
                var obj = {
                    lang_id: languages[i].id,
                    title: name,
                    button_text: button_text
                }
                resBody.push(obj)
            }
            console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });
</script>

<!-- END: JS Assets-->
</body>
</html>