<%- include ../../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
            <a href="/site-content/home/slide/add" class="button text-white bg-theme-1 shadow-md mr-2">Add New Slide Item</a>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                <tr>
                    <th class="whitespace-no-wrap">IMAGES</th>
                    <th class="whitespace-no-wrap">TITLE</th>
                    <th class="text-center whitespace-no-wrap">ACTIONS</th>
                </tr>
                </thead>
                <tbody id="main_tbody">
                    <% data.forEach(function (item) { %>
                        <tr class="intro-x" id="m_<%=item.slideId%>">
                            <td class="w-40">
                                <div class="flex">
                                    <div class="w-20 h-20 image-fit zoom-in">
                                        <img alt="<%=item.title[1].title%>" class="tooltip" src="<%=item.image%>" title="<%=item.title[1].title%>">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="font-medium whitespace-no-wrap"><%=item.title[1].title%></a>
    <!--                            <div class="text-gray-600 text-xs whitespace-no-wrap">PC &amp; Laptop</div>-->
                            </td>
                            <td class="table-report__action w-56">
                                <div class="flex justify-center items-center">
                                    <a class="flex items-center mr-3" href="/site-content/home/slide/edit/<%=item.slideId%>"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                    <a class="flex items-center mr-3 sorttable" href="javascript:;" > <img class="sort-icon" src="/images/content/random-solid.svg" alt="" /> </a>
                                    <a class="flex items-center text-theme-6 delete-in-row" href="javascript:;" data-ids="<%=item.slideId%>" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Delete Confirmation Modal -->
        <div class="modal" id="delete-confirmation-modal">
            <div class="modal__content">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button id="delete_row" type="button" class="button w-24 bg-theme-6 text-white">Delete</button>
                </div>
            </div>
        </div>
        <!-- END: Delete Confirmation Modal -->
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('.delete-in-row').click(function () {
        $('.delete-in-row').removeClass('activeDeleting');
        $(this).addClass('activeDeleting')
    })
    $('#delete_row').click(function () {
        let id = $('.activeDeleting').attr('data-ids');
        // console.log('id',id)
        requestPost('/site-content/home/slide/remove','id='+id,function(){
            if(this.readyState == 4){
                let result = JSON.parse(this.responseText)
                window.location.reload();
            }
        })
    })
    $('#main_tbody').sortable({
        axis: "y",
        handle: '.sorttable',
        update: function () {
            var ords = $(this).sortable("toArray");
            var url = "/site-content/home/slide/ord";
            var body = "ords="+ords+"";
            requestPost(url,body,function(){
                if(this.readyState == 4){

                }
            })
        }
    });
</script>

<!-- END: JS Assets-->
</body>
</html>