<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <form class="" action="" method="post" id="main_form" enctype="multipart/form-data">
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
                <!-- BEGIN: General Report -->
                <div class="col-span-10 mt-8">
                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Add Product
                        </h2>

                    </div>
                </div>
                <!-- END: General Report -->
                <%- include ../default/lang.ejs %>
            </div>
        </div>
            <div class="intro-y col-span-12 grid grid-cols-12">
                <!-- BEGIN: Single File Upload -->
                <div class="intro-y box margin-top-bottom-10 col-span-12 lg:col-span-12">
                    <div class="p-5" style="display: flex;">
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Upload Product Image
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='/images/content/nophoto.jpg' alt="no photo" />
                                    <input required style="display: none" type="file" name="image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Upload Hover Image
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='/images/content/nophoto.jpg' alt="no photo" />
                                    <input required style="display: none" type="file" name="hover_image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Upload Cover Image
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='/images/content/nophoto.jpg' alt="no photo" />
                                    <input required style="display: none" type="file" name="cover_image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid intro-y box p-5 margin-top-bottom-10 gap-6 grid-cols-12 col-span-12 lg:col-span-12">
                    <div class="mt-3 col-span-12 lg:col-span-12">
                        <div class="flex items-center text-gray-700 dark:text-gray-500 mt-2">
                            <input name="image_top" type="checkbox" class="input border mr-2" id="vertical-checkbox_image-top" value="1">
                            <label class="cursor-pointer select-none" for="vertical-checkbox_image-top">Image Top</label>
                        </div>
                    </div>
                    <div class="mt-3 col-span-6 lg:col-span-6">
                        <label>Price</label>
                        <div class="relative mt-2">
                            <input name="price" type="number" class=" input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>

                    <div class="mt-3 col-span-6 lg:col-span-6">
                        <label>Price Before Sale</label>
                        <div class="relative mt-2">
                            <input name="price_before_sale" type="number" class=" input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>

                    <div class="mt-3 col-span-6 lg:col-span-6">
                        <label>Sale Percent</label>
                        <div class="relative mt-2">
                            <input name="sale_percent" type="number" class=" input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                    <div class="mt-3 col-span-6 lg:col-span-6">
                        <label>Select Brand</label>
                        <div class="mt-2">
                            <select class="select2 w-full" name="brand_id">
                                <% brands.forEach(function (brandItem) { %>
                                <option value="<%=brandItem.brandId%>"><%=brandItem.brandName%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="mt-3 col-span-6 lg:col-span-6">
                        <label>Select Litrage</label>
                        <div class="mt-2">
                            <select class="select2 w-full" name="litrage_id">
                                <% litrages.forEach(function (litrage) { %>
                                <option value="<%=litrage.id%>"><%=litrage.name%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="intro-y box px-5 pt-5 mt-5 col-span-12 lg:col-span-12">
                    <div class="intro-y flex items-center ">
                        <h2 class="text-lg font-medium mr-auto">
                            Add Attributes
                        </h2>
                    </div>
                    <div class="flex" style="    flex-direction: row;">
                        <% filters.forEach(function (filter) { %>
                        <div class="select_box_main_g __get_static_filters" data-filter-id="<%=filter.filterId%>">
                            <div class="select_box_name_g"><%=filter.filterName%></div>
                            <div class="select_box_g">
                                <select>
                                    <option selected disabled value="0"></option>
                                    <% filter.filterProperties.forEach(function (propertie) { %>
                                    <option value="<%=propertie.filterPropId%>"><%=propertie.filterPropName%></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>


                <input type="hidden" value="" id="__res_data" name="res_data">
                <input type="hidden" value="" id="__static_filters" name="static_filters">
                <%  language.forEach(function(langs){ %>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-12 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Name</label>
                        <div class="relative mt-2">
                            <input type="text" class="__name_<%=langs['id']%> input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Description</label>
                        <div class="" id="standard-editor">
                            <div class="preview">
                                <textarea class="__description_<%=langs['id']%> summernote"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                <%- include ../default/seo.ejs %>
            </div>

    <!--</div>-->

    <!--// *************************FILTERS START *****************-->

    <!--<div class="content">-->

        <!-- BEGIN: Profile Info -->


        <div class="intro-y box px-5 pt-5 mt-5">
            <div class="intro-y flex items-center">
                <h2 class="text-lg font-medium mr-auto">
                    Add Self Properties
                </h2>
            </div>
            <div class="flex flex-col lg:flex-col border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
                <div class="select_box_main_g" id="append_block">

                </div>
                <div style="display: flex;">
                    <div class="appending_plus_g">+</div>
    <!--                <div class="appending_save_g">SAVE</div>-->
                </div>

            </div>
        </div>
        <div class="text-right mt-5">
            <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
        </div>
    </form>
</div>

</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>')

    $(document).ready(function () {
        appendSelfAttribute(languages,'en');
        $('.__section_submit').click(function () {
            //START  static filters
            let filtersSections = $('.__get_static_filters');
            let productStaticFilters = [];
            for(let i = 0; i < filtersSections.length; i++){
                let filterPropId = $(filtersSections[i]).find('.select_box_g > select > option:selected').val();
                if(filterPropId != '0'){
                    productStaticFilters.push(filterPropId)
                }
            }
            $('#__static_filters').val(JSON.stringify(productStaticFilters));
            //END static filters

            //START product dinamic content
            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                let name = $('.__name_' + languages[i].id).val();
                let description = $('.__description_' + languages[i].id).val();
                let seoTitle = $('.__seo-title_' + languages[i].id).val();
                let seoDesc = $('.__seo-desc_' + languages[i].id).val();
                let obj = {
                    lang_id: languages[i].id,
                    name: name,
                    description: description,
                    seo_title: seoTitle,
                    seo_desc : seoDesc
                }
                resBody.push(obj)
            }
            console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            //END product dinamic content
            $('#main_form').submit()
        })
        $('.appending_plus_g').click(function () {
            let activeLang = $('.lang_cols > .active').attr('data-name');
            appendSelfAttribute(languages,activeLang);
        })

    });

    $(document).on('click','.del_app_row',function () {
        // console.log('$(this)',$(this).attr('data-lang-id'))
        // $(this).parent('div').fadeOut().remove();
        // if($(this).parent('div').attr('data-lang-id') == '1'){
        //     $(this).parent('div').next('div').fadeOut().remove();
        // }
        // if($(this).parent('div').attr('data-lang-id') == '2'){
        //     $(this).parent('div').prev('div').fadeOut().remove();
        // }
    })

    function appendSelfAttribute(languages,activeLang) {
        let rand = Math.floor(Math.random() * 10000000)
        var $mainBlock = $('#append_block');
        let appHtml = "";
        console.log('languages',languages)
        for(let i = 0; i < languages.length; i++){
            let noneStyle = '';
            if(languages[i].lang_code != activeLang){
                noneStyle = 'display:none';
            }
            appHtml +=
                "<div data-lang-id='"+languages[i].id+"'  class=' appending_rows_g for"+languages[i].lang_code+"' style='"+noneStyle+"'>" +
                "    <div style='display: flex'>" +
                "       <input name=ap_name[] required type='text' class='get_unique  ' data-unique-id='"+rand+"'/>" +
                "       <input name=ap_val[] required type='text'  class='get_unique ' data-unique-id='"+rand+"'/>" +
                "       <span class='del_app_row'>X</span>" +
                "    </div>" +
                "</div>";
        }
        $mainBlock.append(appHtml);
        return appHtml;
    }
</script>

<!-- END: JS Assets-->
</body>

</html>

