<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <form class="" action="" method="post" id="main_form" enctype="multipart/form-data">
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
                <!-- BEGIN: General Report -->
                <div class="col-span-12 mt-8">
                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Add Product
                        </h2>

                    </div>
                </div>
                <!-- END: General Report -->
            </div>
        </div>
        <div class="">
            <div class="intro-y col-span-12 lg:col-span-10">
                <!-- BEGIN: Single File Upload -->
                <div class="intro-y box margin-top-bottom-10">
                    <div class="p-5" style="display: flex;">
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Upload Product Image
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='<%=API_URL%>/images/product/<%=data.image%>' alt="no photo" />
                                    <input required style="display: none" type="file" name="image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Upload Hover Image
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='<%=API_URL%>/images/product/<%=data.hover_image%>' alt="no photo" />
                                    <input required style="display: none" type="file" name="hover_image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                        <div class="preview">
                            <h2 class="font-medium text-base mr-auto" style="margin-left: 30px;">
                                Upload Cover Image
                            </h2>
                            <div class="s_e_b_input">
                                <div class='foto_block s_foto_block forempty child_ab'>
                                    <img src='<%=API_URL%>/images/product/<%=data.cover_image%>' alt="no photo" />
                                    <input required style="display: none" type="file" name="cover_image" class="img_file ab_img_f " />
                                    <div class='full_foto'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-y box p-5 margin-top-bottom-10">
                    <div class="mt-3">
                        <div class="flex items-center text-gray-700 dark:text-gray-500 mt-2">
                            <input name="image_top" type="checkbox" class="input border mr-2" id="vertical-checkbox_image-top" value="1" <% if(data.image_top === '1'){ %> checked <%}%>>
                            <label class="cursor-pointer select-none" for="vertical-checkbox_image-top">Image Top <%=data.image_top%></label>
                        </div>
                    </div>

                    <div class="mt-3">
                        <label>Price</label>
                        <div class="relative mt-2">
                            <input value="<%=data.price%>" name="price" type="number" class=" input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>

                    <div class="mt-3">
                        <label>Price Before Sale</label>
                        <div class="relative mt-2">
                            <input value="<%=data.price_before_sale%>" name="price_before_sale" type="number" class=" input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>

                    <div class="mt-3">
                        <label>Sale Percent</label>
                        <div class="relative mt-2">
                            <input value="<%=data.sale_percent%>" name="sale_percent" type="number" class=" input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Select Brand</label>
                        <div class="mt-2">
                            <select class="select2 w-full" name="brand_id">
                                <% brands.forEach(function (brandItem) { %>
                                <option
                                        <% if(brandItem.brandId === data.brand_id){ %>selected<%}%>
                                        value="<%=brandItem.brandId%>"><%=brandItem.brandName%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Select Litrage</label>
                        <div class="mt-2">
                            <select class="select2 w-full" name="litrage_id">
                                <% litrages.forEach(function (litrage) { %>
                                    <option  <% if(litrage.id === data.litrage_id){ %> selected <%}%> value="<%=litrage.id%>"><%=litrage.name%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="intro-y box px-5 pt-5 mt-5">
                    <h2 class="text-lg font-medium mr-auto">
                        Attributes
                    </h2>
                    <div class="flex" style="    flex-direction: row;">
                        <% filters.forEach(function (filter) { %>
                        <div class="select_box_main_g __get_static_filters" data-filter-id="<%=filter.filterId%>">
                            <div class="select_box_name_g"><%=filter.filterName%></div>
                            <div class="select_box_g">
                                <select>
                                        <option selected disabled value="0"></option>
                                    <% filter.filterProperties.forEach(function (propertie) { %>
                                        <option
                                        <% if(data.productStaticFilters.indexOf(propertie.filterPropId+"") !== -1){ %> selected <%}%>
                                                                                                                       value="<%=propertie.filterPropId%>"><%=propertie.filterPropName%></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="col-span-12 mt-8">
                    <%- include ../default/lang.ejs %>
                </div>
                <%  language.forEach(function(langs){ %>
                <div class="intro-y box p-5 margin-top-bottom-10 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Name</label>
                        <div class="relative mt-2">
                            <input type="text"
                                   class="__name_<%=langs['id']%> input pr-12 w-full border col-span-4"
                                   placeholder=""
                                   value="<%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.name%><%}})%>"
                            >
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                    <div class="mt-3">
                        <label>Description</label>
                        <div class="" id="standard-editor">
                            <div class="preview">
                                <textarea class="__description_<%=langs['id']%> summernote"><%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.description%><%}})%></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                <input type="hidden" value="" id="__res_data" name="res_data">
                <input type="hidden" value="" id="__static_filters" name="static_filters">
            </div>
        </div>
        <!--</div>-->

        <!--// *************************FILTERS START *****************-->
        <div class="col-span-12 mt-8">
            <%- include ../default/seo.ejs %>
        </div>
        <div class="text-right mt-5">
            <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
        </div>
    </form>
        <div class="intro-y box px-5 pt-5 mt-5">
            <div class="intro-y flex items-center mt-8">
                <h2 class="text-lg font-medium mr-auto">
                    Add Self Properties
                </h2>
            </div>
            <div class="flex flex-col lg:flex-col border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
                <div class="select_box_main_g" id="append_block">
                    <%  language.forEach(function(langs){ %>
                        <%  additionalFilterProps.forEach(function(additionalFilter){ %>
                            <%  if(additionalFilter.lang_id == langs['id']){ %>
                                <div  class=' appending_rows_g for<%=langs['lang_code']%>'  style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                                    <div style="display: flex" data-lang-id="<%=langs['id']%>">
                                        <input disabled type='text' class='get_unique' value="<%=additionalFilter.name%>"/>
                                        <input disabled type='text' class='get_unique' value="<%=additionalFilter.val%>"/>
                                        <a class="flex items-center text-theme-6 delete-in-row del_app_row" data-product-id="<%=additionalFilter.product_id%>" data-unique-id="<%=additionalFilter.group_row_id%>" href="javascript:;"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </div>
                            <%}%>
                        <%})%>
                            <div  class=' appending_rows_g for<%=langs['lang_code']%>'  style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                                <input type='text' class='get_unique' value=""/>
                                <input type='text' class='get_unique' value=""/>
                                <button class="button button--sm w-24 mr-1 mb-2 bg-theme-1 text-white">Add</button>
                            </div>
                    <%})%>
                </div>
            </div>
        </div>
</div>

</div>
<!-- END: Content   -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>')

    $(document).ready(function () {
        // appendSelfAttribute(languages,'en');
        $('.__section_submit').click(function () {
            //START  static filters
            let filtersSections = $('.__get_static_filters');
            let productStaticFilters = [];
            for(let i = 0; i < filtersSections.length; i++){
                let filterPropId = $(filtersSections[i]).find('.select_box_g > select > option:selected').val();
                if(filterPropId != '0'){
                    productStaticFilters.push(filterPropId)
                }
            }
            $('#__static_filters').val(JSON.stringify(productStaticFilters));
            //END static filters

            //START product dinamic content
            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                let name = $('.__name_' + languages[i].id).val();
                let description = $('.__description_' + languages[i].id).val();
                let seoTitle = $('.__seo-title_' + languages[i].id).val();
                let seoDesc = $('.__seo-desc_' + languages[i].id).val();
                let obj = {
                    lang_id: languages[i].id,
                    name: name,
                    description: description,
                    seo_title: seoTitle,
                    seo_desc : seoDesc
                }
                resBody.push(obj)
            }
            console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            //END product dinamic content
            $('#main_form').submit()
        })
        $('.appending_plus_g').click(function () {
            let activeLang = $('.lang_cols > .active').attr('data-name');
            appendSelfAttribute(languages,activeLang);
        })

    });

    $(document).on('click','.del_app_row',function () {
        var pId =$(this).attr('data-product-id')
        var dataUid =$(this).attr('data-unique-id')
        console.log('dataUid',dataUid)
        console.log('pId',pId)

        requestPost('/product/delete-additional-filter','product_id='+pId+'&group_row_id='+dataUid, function () {
            if(this.readyState == 4){
                var result = JSON.parse(this.responseText);
                window.location.reload()
            }
        })
    })

    function appendSelfAttribute(languages,activeLang) {
        let rand = Math.floor(Math.random() * 10000000)
        var $mainBlock = $('#append_block');
        let appHtml = "";
        console.log('languages',languages)
        for(let i = 0; i < languages.length; i++){
            let noneStyle = '';
            if(languages[i].lang_code != activeLang){
                noneStyle = 'display:none';
            }
            appHtml +=
                "<div data-lang-id='"+languages[i].id+"'  class=' appending_rows_g for"+languages[i].lang_code+"' style='"+noneStyle+"'>" +
                "    <input name=ap_name[] required type='text' class='get_unique  ' data-unique-id='"+rand+"'/>" +
                "    <input name=ap_val[] required type='text'  class='get_unique ' data-unique-id='"+rand+"'/>" +
                "    <span class='del_app_row'>X</span>" +
                "</div>";
        }
        $mainBlock.append(appHtml);
        return appHtml;
    }
</script>

<!-- END: JS Assets-->
</body>
</html>