<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            <%=data.language[1].name%>
        </h2>
    </div>
    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                    <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="http://127.0.0.1:3001/images/product/<%=data.image%>">
                </div>
                <div class="rows_info_main_g">
                    <div class="rows_info_g">
                        <div class="rows_title_g"><b>Name</b></div>
                        <div class="rows_dots_g"></div>
                        <div class="rows_val_g"><%=data.language[1].name%></div>
                    </div>
                    <div class="rows_info_g">
                        <div class="rows_title_g"><b>Description</b></div>
                        <div class="rows_dots_g"></div>
                        <div class="rows_val_g"><%-data.language[1].description%></div>
                    </div>
                    <div class="rows_info_g">
                        <div class="rows_title_g"><b>Price</b></div>
                        <div class="rows_dots_g"></div>
                        <div class="rows_val_g"><%=data.price%></div>
                    </div>
                    <div class="rows_info_g">
                        <div class="rows_title_g"><b>Old Price</b></div>
                        <div class="rows_dots_g"></div>
                        <div class="rows_val_g"><%=data.price_before_sale%></div>
                    </div>
                    <div class="rows_info_g">
                        <div class="rows_title_g"><b>Sale</b></div>
                        <div class="rows_dots_g"></div>
                        <div class="rows_val_g"><%=data.sale_percent%> %</div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Add Properties
        </h2>
    </div>
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-col border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
            <% filters.forEach(function (filter) { %>
                <div class="select_box_main_g">
                    <div class="select_box_name_g"><%=filter.filterName%></div>
                    <div class="select_box_g">
                        <select>
                            <option selected disabled value="0"></option>
                            <% filter.filterProperties.forEach(function (propertie) { %>
                            <option value="<%=propertie.filterPropId%>"><%=propertie.filterPropName%></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Add Self Properties
        </h2>
    </div>

    <div class="intro-y box px-5 pt-5 mt-5">
        <%- include ../default/lang.ejs %>
        <div class="flex flex-col lg:flex-col border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
            <div class="select_box_main_g" id="append_block">
                <%  language.forEach(function(langs){ %>
                    <div class="appending_rows_g for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                        <input type="text" />
                        <input type="text" />
                    </div>
                <% }) %>
            </div>
            <div style="display: flex;">
                <div class="appending_plus_g">+</div>
                <div class="appending_save_g">SAVE</div>
            </div>

        </div>
    </div>
</div>

<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    $(document).ready(function () {
        var languages = JSON.parse('<%- JSON.stringify(language) %>')
        $('.appending_plus_g').click(function () {
            var $mainBlock = $('#append_block');
            let appHtml = "";
            for(let i = 0; i < languages.length; i++){
                let noneStyle = '';
                if(languages[i].lang_code == 'en'){
                    noneStyle = 'display:none';
                }
                appHtml =
                    "<div class='appending_rows_g for"+languages[i].lang_code+"' style='"+noneStyle+"'>" +
                    "    <input type='text' />" +
                    "    <input type='text' />" +
                    "</div>";
            }
            $mainBlock.append(appHtml);
        })
    })
</script>