<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Products
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
            <a href="/product/add" class="button text-white bg-theme-1 shadow-md mr-2">Add New Product</a>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-no-wrap">Image</th>
                        <th class="whitespace-no-wrap">Name</th>
                        <th class="whitespace-no-wrap">Price</th>
                        <th class="whitespace-no-wrap">Old Price</th>
                        <th class="whitespace-no-wrap">Sale %</th>
                        <th class="whitespace-no-wrap">Popular</th>
                        <th class="whitespace-no-wrap">In Stock</th>
                        <th class="text-center whitespace-no-wrap">ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="main_tbody">
                    <% if(typeof data !== "undefined"){ data.forEach(function (item) { %>
                        <tr class="intro-x" id="m_<%=item.id%>">
                            <td class="w-40">
                                <div class="flex">
                                    <div class="w-20 h-20 image-fit zoom-in">
                                        <img alt="" class="tooltip" src="<%=item.img%>">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="font-medium whitespace-no-wrap"><%=item.name%> <%=item.litrageName%></a>
                            </td>
                            <td>
                                <a href="#" class="font-medium whitespace-no-wrap"><%=item.price%></a>
                            </td>
                            <td>
                                <a href="#" class="font-medium whitespace-no-wrap"><%= item.price_before_sale == null ? 'No Price' : item.price_before_sale %></a>
                            </td>
                            <td>
                                <a href="#" class="font-medium whitespace-no-wrap"><%= item.sale_percent == null ? 'No Sale' : item.sale_percent %> </a>
                            </td>
                            <td>
                                <input
                                        <%if(item.popularId != null){%> checked <%}%>
                                        data-prod-id="<%=item.id%>"
                                        class="input flex-none border border-gray-500 check_popular"
                                        type="checkbox"
                                />
                            </td>
                            <td>
                                <input
                                        <%if(item.in_stock === '0'){%> checked <%}%>
                                        data-prod-id="<%=item.id%>"
                                        class="input flex-none border border-gray-500 check_stock"
                                        type="checkbox"
                                />
                            </td>
                            <td class="table-report__action w-56">
                                <div class="flex justify-center items-center">
                                    <a class="flex items-center mr-3" href="/product/update/<%=item.id%>"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
<!--                                    <a class="flex items-center mr-3 sorttable" href="javascript:;" > <img class="sort-icon" src="/images/content/random-solid.svg" alt="" /> </a>-->
                                    <a class="flex items-center text-theme-6 delete-in-row" href="javascript:;" data-ids="<%=item.id%>" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                </div>
                            </td>
                        </tr>
                    <% }) } %>
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Delete Confirmation Modal -->
        <div class="modal" id="delete-confirmation-modal">
            <div class="modal__content">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button id="delete_row" type="button" class="button w-24 bg-theme-6 text-white">Delete</button>
                </div>
            </div>
        </div>
        <!-- END: Delete Confirmation Modal -->
        <% if(pageCount != 1){ %>
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
            <ul class="pagination">

                <li>
                    <a class="pagination__link" href="/product?page=<%=1%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left w-4 h-4"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg> </a>
                </li>
                <li>
                    <a class="pagination__link" href="/product?page=<%=thisPage-1%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4"><polyline points="15 18 9 12 15 6"></polyline></svg> </a>
                </li>
                <% for(var i = 1; i <= pageCount; i++){ %>
                    <% if(thisPage == i){%>
                        <li> <a class="pagination__link pagination__link--active " href="javascript:;"><%=i%></a> </li>
                    <%}else{%>
                        <li> <a class="pagination__link  " href="/product?page=<%=i%>"><%=i%></a> </li>
                    <%}%>

                <% } %>
                <li>
                    <a class="pagination__link" href="/product?page=<%=thisPage+1%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                </li>
                <li>
                    <a class="pagination__link" href="/product?page=<%=pageCount%>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right w-4 h-4"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg></a>
                </li>

            </ul>
        </div>
        <%}%>
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $('.delete-in-row').click(function () {
        $('.delete-in-row').removeClass('activeDeleting');
        $(this).addClass('activeDeleting')
    })
    $('#delete_row').click(function () {
        let id = $('.activeDeleting').attr('data-ids');
        // console.log('id',id)
        requestPost('/product/remove/','id='+id,function(){
            if(this.readyState == 4){
                let result = JSON.parse(this.responseText)
                window.location.reload();
            }
        })
    })
    // $('#main_tbody').sortable({
    //     axis: "y",
    //     handle: '.sorttable',
    //     update: function () {
    //         console.log('$(this)',$(this))
    //         var ords = $(this).sortable("toArray");
    //         console.log('ords',ords)
    //         var url = "/faq/ord";
    //         var body = "ords="+ords+"";
    //         requestPost(url,body,function(){
    //             if(this.readyState == 4){
    //
    //             }
    //         })
    //     }
    // });

    $('.check_popular').click(function () {
        var self = $(this);
        let productId = $(this).attr('data-prod-id');
        requestPost('/product/set-favourite','productId='+productId+'',function () {
            if(this.readyState == 4){
                let result = JSON.parse(this.responseText);
                console.log('check_popular result',result)
                if(!result.error){
                    if(result.msg == 'added'){
                        self.prop("checked", true);
                        return false;
                    }else{
                        self.prop("checked", false);
                        return false;
                    }
                }else{
                    if(result.msg == '111'){
                        alert('count is 9')
                        self.prop("checked", false);
                    }
                }
            }
        })
    })
    $('.check_stock').click(function () {
        var self = $(this);
        let productId = $(this).attr('data-prod-id');
        requestPost('/product/set-stoke','productId='+productId+'',function () {
            if(this.readyState == 4){
                let result = JSON.parse(this.responseText);
                console.log('check_stock result',result)
                if(!result.error){
                    if(result.msg == '0'){
                        self.prop("checked", true);
                        return false;
                    }else{
                        self.prop("checked", false);
                        return false;
                    }
                }else{
                    window.location.reload();
                }
            }
        })
    })
</script>

<!-- END: JS Assets-->
</body>
</html>