<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-10 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Cookie
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
            <%- include ../default/lang.ejs %>
        </div>
    </div>
    <div class="">
        <form class="grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form">
            <div class="intro-y col-span-12 lg:col-span-12">
                <%  language.forEach(function(langs){ %>
                <div class="box for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="p-5" id="standard-editor">
                        <div class="preview">
                            <form method="post">
                                <textarea class="__text_<%=langs['id']%>" name="editor"><%data.forEach(function (item) {if(item.lang_id == langs['id']){ %><%=item.text%><%}})%></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
                <div class="text-right mt-5">
                    <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
                </div>
                <input type="hidden" value="" id="__res_data" name="res_data">
            </div>
        </form>
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>')
    $(document).ready(function () {
        $('.__section_submit').click(function () {

            //const editorData = editor.getData();
            //alert( editorData);

            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                //console.log('i',i);
                //console.log('mmm',editor_1);
                //console.log('mmm',editor_2);
                //let text = editor_+languages[i+1].getData();
                let obj = {
                    lang_id: languages[i].id,
                    text: "",
                }
                console.log('obj',obj)
                resBody.push(obj)
            }
            resBody[0].text = editor_1.getData();
            resBody[1].text = editor_2.getData();


            //console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });
</script>

<!-- END: JS Assets-->
</body>
</html>