<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <%- include ../default/topBar.ejs %>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
            <a href="/loyality/add" class="button text-white bg-theme-1 shadow-md mr-2">Add New Loyality Status</a>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                <tr>
                    <th class="whitespace-no-wrap">Name</th>
                    <th class="whitespace-no-wrap">From Money</th>
                    <th class="text-center whitespace-no-wrap">ACTIONS</th>
                </tr>
                </thead>
                <tbody id="main_tbody">
                <% data.forEach(function (item) { %>
                <tr class="intro-x" id="m_<%=item.id%>">
                    <td>
                        <a href="#" class="font-medium whitespace-no-wrap"><%=item.name%></a>
                    </td>
                    <td>
                        <a href="#" class="font-medium whitespace-no-wrap"><%=item.fom_money%></a>
                    </td>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <a class="flex items-center mr-3" href="/loyality/update/<%=item.id%>"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
<!--                            <a class="flex items-center mr-3 sorttable" href="javascript:;" > <img class="sort-icon" src="/images/content/random-solid.svg" alt="" /> </a>-->
                            <a class="flex items-center text-theme-6 delete-in-row" data-ids="<%=item.id%>" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Delete Confirmation Modal -->
        <div class="modal" id="delete-confirmation-modal">
            <div class="modal__content">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button id="delete_row" type="button" class="button w-24 bg-theme-6 text-white">Delete</button>
                </div>
            </div>
        </div>
        <!-- END: Delete Confirmation Modal -->
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    $('.delete-in-row').click(function () {
        $('.delete-in-row').removeClass('activeDeleting');
        $(this).addClass('activeDeleting')
    })
    $('#delete_row').click(function () {
        let id = $('.activeDeleting').attr('data-ids');
        // console.log('id',id)
        requestPost('/faq/remove/','id='+id,function(){
            if(this.readyState == 4){
                let result = JSON.parse(this.responseText)
                window.location.reload();
            }
        })
    })
</script>

<!-- END: JS Assets-->
</body>
</html>