<%- include ../default/header.ejs %>
<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h1 style="font-size: 2em" class=" mr-auto">
            Order #<%=order.public_id%>    <%if(order.user_id !== null){%> (Registered user) <% }else{ %> Guest <% } %>
        </h1>
    </div>
    <div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
        <div class="col-span-12 lg:col-span-4">
            <div class="tab-content">
                <div class="tab-content__pane active">
                        <div class="pos__ticket box p-2 mt-5">
                            <div class="pos__tabs intro-y flex flex-col sm:flex-row items-center mt-8">
                                <a href="javascript:;" class="flex-1 py-2 rounded-md text-center active">Buyer Information</a>
                            </div>
                            <div class="mt-8">
                                <%if(order.user_id !== null){%>
                                    <div   data-target="#add-item-modal" class="flex items-center p-3 ">
                                        <div class="pos__ticket__item-name truncate mr-1">User name</div>
                                        <div class="ml-auto"><%=order.userName%> <%=order.buyerLastName%></div>
                                    </div>
                                    <div  class="flex items-center p-3 ">
                                        <div class="pos__ticket__item-name truncate mr-1">User email</div>
                                        <div class="ml-auto"><%=order.userEmail%></div>
                                    </div>
                                    <div  class="flex items-center p-3 ">
                                        <div class="pos__ticket__item-name truncate mr-1">User phone</div>
                                        <div class="ml-auto"><%=order.userPhone%></div>
                                    </div>
                                <% } %>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Buyer Name</div>
                                    <div class="ml-auto"><%=order.buyerName%> <%=order.buyerLastName%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Buyer Address</div>
                                    <div class="ml-auto"><%=order.cityName%> <%=order.buyerAddress%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Buyer Phone</div>
                                    <div class="ml-auto"><%=order.buyerPhone%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Buyer Email</div>
                                    <div class="ml-auto"><%=order.buyerEmail%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Buyer Delivery date</div>
                                    <div class="ml-auto"><%if(order.delivery_date === null){%> No info <%}else{%> <%=order.delivery_date%> <%}%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Buyer Delivery time</div>
                                    <div class="ml-auto"><%if(order.delivery_time === null){%> No info <%}else{%> <%=order.delivery_time%><%}%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Payment type</div>
                                    <%if(order.payment_type == '1'){%>
                                        <div class="ml-auto">Card</div>
                                    <%}else if(order.payment_type == '3'){%>
                                        <div class="ml-auto">Cash</div>
                                    <%}%>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Price</div>
                                    <div class="ml-auto"><b><%=order.total_price%> AMD</b></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Create Date</div>
                                    <div class="ml-auto"><%=order.insert_data%></div>
                                </div>
                                <div  class="flex items-center p-3 ">
                                    <div class="pos__ticket__item-name truncate mr-1">Payment Status</div>
                                    <div class="ml-auto">
                                        <%if(order.payment_status == '1'){%> <span class="font-medium text-theme-9">  Success  </span> <%}%>
                                        <%if(order.payment_status == '0'){%> <span class="font-medium text-theme-6">  Failed  </span>  <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-8">
            <div class="pos__ticket box p-2 mt-5">
                <div class="pos__tabs intro-y flex flex-col sm:flex-row items-center mt-8">
                    <a href="javascript:;" class="flex-1 py-2 rounded-md text-center active">Products</a>
                </div>
                <table class="table table-report -mt-2">
                    <thead>
                    <tr>
                        <th class="whitespace-no-wrap">IMAGES</th>
                        <th class="whitespace-no-wrap">PRODUCT NAME</th>
                        <th class="text-center whitespace-no-wrap">STOCK</th>
                        <th class="text-center whitespace-no-wrap">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% products.forEach(function (product) { %>
                    <tr class="intro-x">
                        <td class="w-40">
                            <div class="flex">
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img alt="" class="tooltip rounded-full tooltipstered" src="<%=product.prodImage%>">
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="font-medium whitespace-no-wrap"><%=product.name%> <%=product.litrage%></a>
                            <div class="text-gray-600 text-xs whitespace-no-wrap">AMD <%=product.price%> </div>
                            <div class="text-gray-600 text-xs whitespace-no-wrap">Quantity <%=product.quantity%></div>
                        </td>
                        <td class="text-center"><%if(product.prodInStock == '0'){%>In Stock<%}else{%>No In Stock<%}%></td>
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" href="/product/update/<%=product.prodId%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> Edit </a>
                            </div>
                        </td>
                    </tr>
                    <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class=""></div>
        <div class="sm:mt-2">
            <select class="input input--sm border mr-2" id="select_status" data-id="<%=order.id%>">
                <option value="99" <% if(order.order_status == null){ %> selected <%}%>></option>
                <option value="0" <% if(order.order_status == '0'){ %> selected <%}%> >Decline</option>
                <option value="1" <% if(order.order_status == '1'){ %> selected <%}%> >Accept</option>
                <option value="2" <% if(order.order_status == '2'){ %> selected <%}%> >Shipping</option>
                <option value="3" <% if(order.order_status == '3'){ %> selected <%}%> >Finished</option>
            </select>
            <button type="button" id="save_status" class="button bg-theme-1 text-white">Login</button>
        </div>
        <% if(order.payment_type == '1'){ %>
        <div class="col-span-12 lg:col-span-8">
            <div class="intro-y box mt-5">
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                    <h2 class="font-medium text-base mr-auto">
                        Bank Information
                    </h2>
                </div>
                <div class="p-5" id="hoverable-table">
                    <div class="preview">
                        <div class="overflow-x-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-no-wrap">#</th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-no-wrap">Name</th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-no-wrap"></th>
                                    </tr>
                                </thead>
                                <tbody id="bank_result"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
    $(document).ready(function () {
        var bankPaymentInitResponse = JSON.parse('<%- order.bankPaymentInitResponse %>')
        var bankPaymentDetailResponse = JSON.parse('<%- order.bankPaymentDetailResponse %>')
        var content = "";
        var num = 1;
        Object.entries(bankPaymentInitResponse).forEach(([key, value]) => {
            content+= `
                    <tr class="hover:bg-gray-200">
                        <td class="border">${num}</td>
                        <td class="border">${key}</td>
                        <td class="border">${value}</td>
                    </tr>`;
            num++;
        });
        Object.entries(bankPaymentDetailResponse).forEach(([key, value]) => {
            content+= `
                    <tr class="hover:bg-gray-200">
                        <td class="border">${num}</td>
                        <td class="border">${key}</td>
                        <td class="border">${value}</td>
                    </tr>`;
            num++;
        });
        $('#bank_result').html(content)
    })
    
    $('#save_status').click(function () {
        var selected = $('#select_status').children("option:selected").val();
        var id = $('#select_status').attr('data-id');
        console.log('selected',selected)
        if(selected != '99'){
            requestPost('/orders/change-order-status','id='+id+'&status='+selected, function () {
                if(this.readyState == 4){
                    var result = this.responseText;
                    console.log('result',result)
                    if(!result.error){
                        alert('Thank You')
                    }else{
                        alert('Error')
                    }
                }
            })
        }
    })
</script>
<style>
    .table td {
        padding-left: 0.50rem;
        padding-right: 0.25rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
</style>

<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>