<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Orders
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5">
<!--        <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">-->
<!--            <a href="/orders/add" class="button text-white bg-theme-1 shadow-md mr-2">Add New Product</a>-->
<!--        </div>-->
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-no-wrap">Order id</th>
                        <th class="whitespace-no-wrap">Total</th>
                        <th class="whitespace-no-wrap">Payment Type</th>
                        <th class="whitespace-no-wrap">Date</th>
                        <th class="whitespace-no-wrap">Payment status</th>
                        <th class="whitespace-no-wrap">Order status</th>
                        <th class="text-center whitespace-no-wrap">ACTIONS</th>
                    </tr>
                </thead>
                <tbody id="main_tbody">
                    <% if(typeof orders !== "undefined"){ orders.forEach(function (item) { %>
                    <tr class="intro-x" id="m_<%=item.id%>">
                        <td>
                            <%if(item.admin_view === null){%><span class="mr-5 font-medium text-theme-9">New</span><%}%><%=item.public_id%>
                        </td>
                        <td>
                          <%=item.total_price%>
                        </td>
                        <td>
                            <% if(item.payment_type == '1'){ %>
                                Cart
                            <%}else if(item.payment_type == '3'){%>
                                Cash
                            <%}else{%>
                                asd
                            <%}%>
                        </td>
                        <td><%=item.date%> <%=item.time%></td>
                        <td>
                            <%if(item.payment_status == '1'){%> <span class="mr-5 font-medium text-theme-9">  Success  </span> <%}%>
                            <%if(item.payment_status == '0'){%> <span class="mr-5 font-medium text-theme-6">  Failed  </span>  <%}%>
                        </td>
                        <td>
                            <%if(item.order_status == null){%> No Action <%}%>
                            <%if(item.order_status == '1'){%> Admin accept <%}%>
                            <%if(item.order_status == '2'){%> Shipping <%}%>
                            <%if(item.order_status == '3'){%> Finished <%}%>
                        </td>
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3  text-theme-9" href="/orders/info/<%=item.id%>"> More <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg></a>
                            </div>
                        </td>
                    </tr>
                    <%  }) } %>
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <% if(pageCount != 1){ %>
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
            <ul class="pagination">
                <li>
                    <a class="pagination__link" href="/orders?page=<%=1%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left w-4 h-4"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg> </a>
                </li>
                <li>
                    <a class="pagination__link" href="/orders?page=<%=thisPage-1%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4"><polyline points="15 18 9 12 15 6"></polyline></svg> </a>
                </li>
                <% for(var i = 1; i <= pageCount; i++){ %>
                    <% if(thisPage == i){%>
                        <li> <a class="pagination__link pagination__link--active " href="javascript:;"><%=i%></a> </li>
                    <%}else{%>
                        <li> <a class="pagination__link  " href="/orders?page=<%=i%>"><%=i%></a> </li>
                    <%}%>
                <% } %>
                <li>
                    <a class="pagination__link" href="/orders?page=<%=thisPage+1%>"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                </li>
                <li>
                    <a class="pagination__link" href="/orders?page=<%=pageCount%>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right w-4 h-4"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg></a>
                </li>
            </ul>
        </div>
        <%}%>
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>

<!-- END: JS Assets-->
</body>
</html>