<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-10 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        About
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
            <%- include ../default/lang.ejs %>
        </div>
    </div>

    <div class="">
        <form class="grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form">
            <div class="intro-y col-span-12 lg:col-span-12">
                <%  language.forEach(function(langs){ %>
                <div class="box for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <textarea id="Gckeditor_<%=langs['id']%>" class="__text_<%=langs['id']%>"><%data.forEach(function (item) {if(item.lang_id == langs['id']){ %><%=item.text%><%}})%></textarea>
                </div>
                <% }) %>
                <div class="text-right mt-5">
                    <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
                </div>
                <input type="hidden" value="" id="__res_data" name="res_data" />
            </div>
        </form>
    </div>

</div>
<!-- END: Content -->

<!-- BEGIN: JS Assets-->

<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script src="/javascript/cd-datas/jquery.js"></script>
<script src="/javascript/cd-datas/jquery-ui.min.js"></script>
<script src="/javascript/ckeditor/ckeditor.js"></script>
<script src="/javascript/ckeditor/adapters/jquery.js"></script>

<script>
    $(document).ready(function () {
        $('#Gckeditor_1').ckeditor();
        $('#Gckeditor_2').ckeditor();
    })
    var languages = JSON.parse('<%- JSON.stringify(language) %>')
    $(document).ready(function () {
        $('.__section_submit').click(function () {

            //const editorData = editor.getData();
            //alert( editorData);

            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                //console.log('i',i);
                //console.log('mmm',editor_1);
                //console.log('mmm',editor_2);
                let text = $('.__text_' + languages[i].id).val();
                let obj = {
                    lang_id: languages[i].id,
                    text: text,
                }
                console.log('obj',obj)
                resBody.push(obj)
            }


            //console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });
</script>


</body>
</html>