<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-10 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Add FAQ Item
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
            <%- include ../default/lang.ejs %>
        </div>
    </div>
    <div class="">
        <form class="grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form">
            <div class="intro-y col-span-12 lg:col-span-12">
                <!-- BEGIN: Single File Upload -->
                <%  language.forEach(function(langs){ %>
                <div class="intro-y box p-5 margin-top-bottom-10 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                        <label>Name</label>
                        <div class="relative mt-2">
                            <input type="text" class="__name_<%=langs['id']%> input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>

                    <div class="mt-3 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                        <label>Question</label>
                        <div class="relative mt-2">
                            <input type="text" class="__question_<%=langs['id']%> input pr-12 w-full border col-span-4" placeholder="">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                    <div class="mt-3 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                        <label>Answer</label>
                        <div class="relative mt-2">
                            <div class="p-5" id="standard-editor">
                                <div class="preview">
                                    <form method="post">
                                        <textarea class="__text_<%=langs['id']%>" name="editor"></textarea>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>
                <div class="text-right mt-5">
                    <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
                </div>
                <input type="hidden" value="" id="__res_data" name="res_data">
            </div>
        </form>
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>')
    $(document).ready(function () {
        $('.__section_submit').click(function () {
            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                let name = $('.__name_' + languages[i].id).val();
                let answer = $('.__answer_' + languages[i].id).val();
                let question = $('.__question_' + languages[i].id).val();
                let obj = {
                    lang_id: languages[i].id,
                    name: name,
                    answer: answer,
                    question: question,
                }
                resBody.push(obj)
            }
            resBody[0].answer = editor_1.getData();
            resBody[1].answer = editor_2.getData();
            console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });
</script>

<!-- END: JS Assets-->
</body>
</html>