<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-10 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Home Slider
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
            <%- include ../default/lang.ejs %>
        </div>
    </div>
    <div class="">
        <form >
            <input type="file" multiple name="images" />
            <span id="save_imagesG">save</span>
        </form>
        <div id="sImagesBl" style="display:flex; flex-direction: row">

        </div>
    </div>
    <div class="">
        <form class="grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form" enctype="multipart/form-data">

            <div class="intro-y col-span-12 lg:col-span-12">
                <!-- BEGIN: Single File Upload -->
                <div class="intro-y box">
                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                            Single File Upload
                        </h2>
                    </div>
                    <div class="p-5" id="single-file-upload">
                        <div class="preview">
                            <!--                        <form action="sdssda" class="dropzone border-gray-200 border-dashed">-->
                            <div class="fallback">
                                <div class="s_e_b_input">
                                    <div class="chose_file _chose_file">Choose image</div>
                                    <div class='s_foto_block foto_block forempty child_ab'>
                                        <img src='<%=data.image%>' alt="no photo" />
                                        <input required style="display: none" type="file" name="image" class="img_file ab_img_f " />
                                        <div class='full_foto'></div>
                                    </div>
                                </div>
                            </div>
                            <!--                        </form>-->
                        </div>
                    </div>
                </div>
                <%  language.forEach(function(langs){ %>
                <div class="intro-y box p-5 margin-top-bottom-10 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Title</label>
                        <div class="relative mt-2">
                            <input
                                    type="text"
                                    class="__title_<%=langs['id']%> input pr-12 w-full border col-span-4"
                                    placeholder="Price"
                                    value="<%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.title%><%}})%>"
                            >
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                </div>

                <div  class="intro-y box p-5 margin-top-bottom-10 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <label>Text</label>
                    <div class="relative mt-2">
                        <div class="preview">
                            <textarea id="Gckeditor_<%=langs['id']%>" class="__text_<%=langs['id']%>"><%data.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.text%><%}})%></textarea>
                        </div>
                    </div>
                </div>
                <% }) %>
                <div class="text-right mt-5">
                    <button type="button" class="button w-24 border dark:border-dark-5 text-gray-700 dark:text-gray-300 mr-1">Cancel</button>
                    <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
                </div>
                <input type="hidden" value="" id="__res_data" name="res_data">
            </div>
        </form>
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script src="/javascript/cd-datas/jquery.js"></script>
<script src="/javascript/cd-datas/jquery-ui.min.js"></script>
<script src="/javascript/ckeditor/ckeditor.js"></script>
<script src="/javascript/ckeditor/adapters/jquery.js"></script>
<script>
    var gropuId = null
    var num = 0;
    function setSelectedImages(data){
        var $sImagesBl = $('#sImagesBl');
        var content = "";
        for(var i = 0; i < data.imageUrls.length; i++){
            content+= `
                <div class="s_foto_block foto_block forempty child_ab">
                    <img id="img_${num}" style="width: 150px;height: 150px;" src="${data.imageUrls[i]}" />
                    <span data-ig="${num}" class="selection_copy">COPY</span>
                </div>`;
            num++;
        }
        console.log('content',content)
        $sImagesBl.append(content);
        $('#group_id').val(data.token)
    }
    function CopyToClipboard(id)
    {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
    }
    $(document).on('click', '.selection_copy', function(e){
        var ig = $(this).attr('data-ig');
        console.log('ig',ig)
        CopyToClipboard('img_'+ig);
    })
    $(document).on('click', '#save_imagesG', function(e){
        e.preventDefault();
        var formData = new FormData($(this).parents('form')[0]);
        if(gropuId === null){
            gropuId = generateRandomIntegers(4)
        }
        console.log('formData',formData)

        $.ajax({
            url: '/blog/add-blog-images/'+gropuId,
            type: 'POST',
            xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            },
            success: function (data) {
                setSelectedImages(data)

            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        });
        return false;
    });

    $(document).ready(function () {
        $('#Gckeditor_1').ckeditor();
        $('#Gckeditor_2').ckeditor();
    })

    var languages = JSON.parse('<%- JSON.stringify(language) %>')
    $(document).ready(function () {
        $('.__section_submit').click(function () {
            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                let title = $('.__title_' + languages[i].id).val();
                let text = $('.__text_' + languages[i].id).val();
                if(title == "" || text ==  ""){
                    alert('lracreq bolor dashtere')
                    return false
                }
                // console.log('pText',pText)
                // $('#assadad').html(text)
                // let images = $('#assadad  img' );
                // console.log('images',images)

                let obj = {
                    lang_id: languages[i].id,
                    title: title,
                    text: text,
                }
                resBody.push(obj)
            }
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });


    function generateRandomIntegers(length) {
        var result           = '';
        var characters       = '0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return parseInt(result);
    }
</script>

<!-- END: JS Assets-->
</body>
</html>