<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid gap-12">
        <div class="col-span-12 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-10 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Home Slider
                    </h2>

                </div>
            </div>
            <!-- END: General Report -->
            <%- include ../default/lang.ejs %>
        </div>
    </div>
        <form class="col-span-12 grid grid-cols-12 gap-6 mt-5" action="" method="post" id="main_form" enctype="multipart/form-data">

                <!-- BEGIN: Single File Upload -->
                <div class="intro-y box margin-top-bottom-10 col-span-12 lg:col-span-6">
                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                            Brand Logo
                        </h2>
                    </div>
                    <div class="p-5" id="single-file-upload">
                        <div class="preview">
                            <!--                        <form action="sdssda" class="dropzone border-gray-200 border-dashed">-->
                            <div class="fallback">
                                <div class="s_e_b_input">
                                    <div class="chose_file _chose_file">Choose image</div>
                                    <div class='foto_block s_foto_block forempty child_ab'>
                                        <img src='/images/content/nophoto.jpg' alt="no photo" />
                                        <input required style="display: none" type="file" name="brand_logo" class="img_file ab_img_f " />
                                        <div class='full_foto'></div>
                                    </div>
                                </div>
                            </div>
                            <!--                        </form>-->
                        </div>
                    </div>
                </div>
                <div class="intro-y box margin-top-bottom-10 col-span-12 lg:col-span-6">
                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                            Brand Cover Image
                        </h2>
                    </div>
                    <div class="p-5" id="single-file-upload">
                        <div class="preview">
                            <!--                        <form action="sdssda" class="dropzone border-gray-200 border-dashed">-->
                            <div class="fallback">
                                <div class="s_e_b_input">
                                    <div class="chose_file _chose_file">Choose image</div>
                                    <div class='foto_blocks s_foto_block forempty child_ab'>
                                        <img src='/images/content/nophoto.jpg' alt="no photo" />
                                        <input required style="display: none" type="file" name="image" class="img_file ab_img_f " />
                                        <div class='full_foto'></div>
                                    </div>
                                </div>
                            </div>
                            <!--                        </form>-->
                        </div>
                    </div>
                </div>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-6">
                    <label>Select Category</label>
                    <div class="mt-2 w-100">
                        <select class="select2 w-full" name="cat_id">
                            <% categories.forEach(function (catItem) { %>
                                <option value="<%=catItem.id%>"><%=catItem.name%></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <%  language.forEach(function(langs){ %>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-6 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Title</label>
                        <div class="relative mt-2">
                            <input type="text" class="__title_<%=langs['id']%> input pr-12 w-full border col-span-4">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                </div>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-6 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Name</label>
                        <div class="relative mt-2">
                            <input type="text" class="__name_<%=langs['id']%> input pr-12 w-full border col-span-4">
                            <!--                        <div class="absolute top-0 right-0 rounded-r w-10 h-full flex items-center justify-center bg-gray-100 dark:bg-dark-1 dark:border-dark-4 border text-gray-600">pcs</div>-->
                        </div>
                    </div>
                </div>
                <div class="intro-y box p-5 margin-top-bottom-10 col-span-12 lg:col-span-6 for<%=langs['lang_code']%>" style="<%if(langs['lang_code'] !== 'en'){%><%='display:none'%><%}%>">
                    <div class="mt-3">
                        <label>Text</label>
                        <textarea id="Gckeditor_<%=langs['id']%>" class="__text_<%=langs['id']%>"></textarea>
                    </div>
                </div>

                <% }) %>
                <div class="text-right mt-5 col-span-12 lg:col-span-12">
                    <button type="button" class="button w-24 bg-theme-1 text-white __section_submit">Save</button>
                </div>
                <input type="hidden" value="" id="__res_data" name="res_data">

        </form>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script src="/javascript/cd-datas/jquery.js"></script>
<script src="/javascript/cd-datas/jquery-ui.min.js"></script>
<script src="/javascript/ckeditor/ckeditor.js"></script>
<script src="/javascript/ckeditor/adapters/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#Gckeditor_1').ckeditor();
        $('#Gckeditor_2').ckeditor();
    })
    var languages = JSON.parse('<%- JSON.stringify(language) %>')
    $(document).ready(function () {
        $('.__section_submit').click(function () {
            let resBody = [];
            for (let i = 0; i < languages.length; i++) {
                let title = $('.__title_' + languages[i].id).val();
                let name = $('.__name_' + languages[i].id).val();
                let text = $('.__text_' + languages[i].id).val();
                let obj = {
                    lang_id: languages[i].id,
                    title: title,
                    name: name,
                    text: text,
                }
                resBody.push(obj)
            }
            console.log('resBody',resBody)
            $('#__res_data').val(JSON.stringify(resBody));
            $('#main_form').submit()
        })
    });
</script>

<!-- END: JS Assets-->
</body>
</html>