<%- include ../default/header.ejs %>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6 mt-5">
        <!-- BEGIN: Data List -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
                <!-- BEGIN: General Report -->
                <div class="col-span-12 mt-8">
                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Add new Translate Word
                        </h2>
                    </div>
                </div>
                <!-- END: General Report -->
            </div>
        </div>
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <!--                <thead>-->
                <!--                    <tr>-->
                <!--                        <th class="whitespace-no-wrap">NAME</th>-->
                <!--                        <th class="text-center whitespace-no-wrap">ACTIONS</th>-->
                <!--                    </tr>-->
                <!--                </thead>-->
                <tbody id="main_tbody">
                <tr class="intro-x" >
                    <td>
                        <div>
                            <label>
                                Key
                            </label>
                            <input
                                    type="text" class="input w-full border mt-2 __key_name_"
                                    placeholder=""
                            >
                        </div>
                    </td>
                    <% language.forEach(function (langs) { %>
                    <td>
                        <div>
                            <label>
                                <%if(langs.id == '1'){ %>
                                    English
                                <% }else if(langs.id == '2'){%>
                                    Armenian
                                <% }else{%>
                                    Russian
                                <% }%>
                            </label>
                            <input
                                    type="text"
                                    class="__name_<%=langs['id']%> input w-full border mt-2 "
                            >
                            <input type="hidden" value="" id="__res_data" name="res_data">
                        </div>
                    </td>
                    <% }) %>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <span  class="__section_submit button button--sm w-24 mr-1 mb-2 bg-theme-1 text-white">Save</span>
                        </div>
                    </td>
                </tr>
                <% data.forEach(function (item) { %>
                <tr class="intro-x" id="m_<%=item.id%>">
                    <td>
                        <div>
                            <label>
                                Key
                            </label>
                            <input
                                    type="text" class="input w-full border mt-2"
                                    value="<%=item.key_name%>"
                            >
                        </div>
                    </td>
                    <% language.forEach(function (langs) { %>
                    <td>
                        <div>
                            <label>
                                <%if(langs.id == '1'){ %>
                                    English
                                <% }else if(langs.id == '2'){%>
                                    Armenian
                                <% }else{%>
                                    Russian
                                <% }%>
                            </label>
                            <input
                                    type="text" class="input w-full border mt-2"
                                    value="<%item.language.forEach(function (item) {if(item.langId == langs['id']){ %><%=item.name%><%}})%>"
                            >
                        </div>
                    </td>
                    <% }) %>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">

                            <a class="flex items-center text-theme-6 delete-in-row" data-ids="<%=item.id%>" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                            <button data-translate-id="<%=item.id%>" class="inline_save_btn button button--sm w-24 mr-1 mb-2 bg-theme-1 text-white">Save</button>
                        </div>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Delete Confirmation Modal -->
        <div class="modal" id="delete-confirmation-modal">
            <div class="modal__content">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Are you sure?</div>
                    <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button id="delete_row" type="button" class="button w-24 bg-theme-6 text-white">Delete</button>
                </div>
            </div>
        </div>
        <!-- END: Delete Confirmation Modal -->
    </div>
</div>
</div>
<!-- END: Content -->
</div>
<!-- BEGIN: JS Assets-->
<script src="/javascript/script.js"></script>
<script src="/javascript/main.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var languages = JSON.parse('<%- JSON.stringify(language) %>')
    $(document).ready(function () {
        $('.__section_submit').click(function () {
            let resBody = [];
            let key_name = $('.__key_name_').val();
            for (let i = 0; i < languages.length; i++) {
                let name = $('.__name_' + languages[i].id).val();
                let obj = {
                    lang_id: languages[i].id,
                    name: name,
                    key_name: key_name,
                }
                resBody.push(obj)
            }
            // var checkedBox = $("input[name='check_type']:checked").val();

            // $('#adding_form').submit()
            requestPost('/translate/add','res_data='+JSON.stringify(resBody), function () {
                if(this.readyState == 4){
                    let result = JSON.parse(this.responseText);
                    console.log('result',result)
                    if(!result.error){
                        window.location.reload()
                    }else{
                        alert('This Key is available')
                    }
                }
            })
        })
    });

    $('.delete-in-row').click(function () {
        $('.delete-in-row').removeClass('activeDeleting');
        $(this).addClass('activeDeleting')
    })
    $('#delete_row').click(function () {
        let id = $('.activeDeleting').attr('data-ids');
        requestPost('/translate/remove/','id='+id,function(){
            if(this.readyState == 4){
                let result = JSON.parse(this.responseText)
                window.location.reload();
            }
        })
    })

</script>

<!-- END: JS Assets-->
</body>
</html>